<div>
  <div class="account-data">
    <p class="username">{{ username }}</p>
    <p class="money"> ₡{{ money }} </p>
    <button class="button" (click)="openDialog()"> Login </button>
  </div>

  <div class="manager">
    <mat-form-field class="recipient-field">
      <input placeholder="recipient username" [(ngModel)]="recipient" matInput>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="amount" type="number" [(ngModel)]="amount" matInput>
    </mat-form-field>
    <button class="button" (click)="sendMoney()">Send Money</button>
  </div>

  <div class="leaderboard" *ngIf="users$ | async as users">
    <p class="leaderboard-entry" *ngFor="let user of users">{{ user.username }} ({{ user.name }}): ₡{{ user.money }}</p>
  </div>
</div>